In [11]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv("./Study1_Ren.csv")
df.columns.values

array(['Unnamed: 0', 'PID', 'attencheck1', 'q1', 'q1ans', 'q2', 'q2ans',
       'q3', 'q3ans', 'q4', 'q4ans', 'q5', 'q5ans', 'q6', 'q6ans', 'q7',
       'q7ans', 'q8', 'q8ans', 'q9', 'q9ans', 'q10', 'q10ans', 'q11',
       'q11ans', 'q12', 'q12ans', 'q13', 'q13ans', 'q14', 'q14ans', 'q15',
       'q15ans', 'q16', 'q16ans', 'q17', 'q17ans', 'q18', 'q18ans', 'q19',
       'q19ans', 'q20', 'q20ans', 'q21', 'q21ans', 'q22', 'q22ans', 'q23',
       'q23ans', 'q24', 'q24ans', 'q25', 'q25ans', 'q26', 'q26ans', 'q27',
       'q27ans', 'q28', 'q28ans', 'q29', 'q29ans', 'q30', 'q30ans', 'q31',
       'q31ans', 'q32', 'q32ans', 'q33', 'q33ans', 'q34', 'q34ans', 'q35',
       'q35ans', 'q36', 'q36ans', 'q37', 'q37ans', 'q38', 'q38ans', 'q39',
       'q39ans', 'q40', 'q40ans', 'selfadmit', 'attencheck2', 'nfc_1r',
       'nfc_2r', 'nfc_3r', 'nfc_4r', 'nfc_5r', 'nfc_6r', 'nfc_7r',
       'nfc_8r', 'nfc_9r', 'nfc_10r', 'nfc_11r', 'nfc_12r', 'nfc_13r',
       'nfc_14r', 'nfc_15r', 'nfc_16r', 'nfc_17r', 'nfc_18r', 'bps_1r',
       'bps_2r', 'bps_3r', 'bps_4r', 'bps_5r', 'bps_6r', 'bps_7r',
       'bps_8r', 'moe_1r', 'moe_2r', 'moe_3r', 'moe_4r', 'moe_5r',
       'moe_6r', 'moe_7r', 'moe_8r', 'moe_9r', 'moe_10r', 'moe_11r',
       'moe_12r', 'moe_13r', 'moe_14r', 'moe_15r', 'moe_16r', 'moe_17r',
       'moe_18r'], dtype=object)

In [20]:
df.drop(["Unnamed: 0", "attencheck1", "selfadmit", "attencheck2",
         "bps_1r", "bps_2r", "bps_3r", "bps_4r", "bps_5r", "bps_6r", "bps_7r", "bps_8r",
         "moe_1r", "moe_2r", "moe_3r", "moe_4r", "moe_5r", "moe_6r", "moe_7r", 
         "moe_8r", "moe_9r", "moe_10r", "moe_11r", "moe_12r", "moe_13r", "moe_14r",
         "moe_15r", "moe_16r", "moe_17r", "moe_18r", "nfc_1r", "nfc_2r", "nfc_3r",
         "nfc_4r", "nfc_5r", "nfc_6r", "nfc_7r", "nfc_8r", "nfc_9r", "nfc_10r",
         "nfc_11r", "nfc_12r", "nfc_13r", "nfc_14r", "nfc_15r", "nfc_16r",
         "nfc_17r", "nfc_18r"], axis=1, inplace=True)

In [21]:
kolumner = ['q1', 'q2','q3', 'q4', 'q5', 'q6', 'q7','q8', 'q9', 'q10', 'q11',
            'q12', 'q13','q14','q15','q16', 'q17','q18','q19','q20','q21','q22',
            'q23', 'q24','q25', 'q26','q27', 'q28','q29','q30','q31', 'q32','q33',
            'q34','q35','q36','q37','q38','q39','q40']
for i in kolumner:
    df[i] = df[i].replace({"ADD 3": 2, "DO NOTHING": 1})

C:\Users\marku\AppData\Local\Temp\ipykernel_2260\3534457362.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[i] = df[i].replace({"ADD 3": 2, "DO NOTHING": 1})

In [22]:
kolumner2 = ['q1ans', 'q2ans','q3ans', 'q4ans', 'q5ans', 'q6ans', 'q7ans','q8ans', 'q9ans', 'q10ans', 'q11ans',
            'q12ans', 'q13ans','q14ans','q15ans','q16ans', 'q17ans','q18ans','q19ans','q20ans','q21ans','q22ans',
            'q23ans', 'q24ans','q25ans', 'q26ans','q27ans', 'q28ans','q29ans','q30ans','q31ans', 'q32ans','q33ans',
            'q34ans','q35ans','q36ans','q37ans','q38ans','q39ans','q40ans']
for i in kolumner2:
    df[i] = df[i].replace({"correct": 2, "incorrect": 1, " ": 0, "incorrect1": 1, "incorrect7": 1})

C:\Users\marku\AppData\Local\Temp\ipykernel_2260\1699264336.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[i] = df[i].replace({"correct": 2, "incorrect": 1, " ": 0, "incorrect1": 1, "incorrect7": 1})

In [23]:
df

,PID,q1,q1ans,q2,q2ans,q3,q3ans,q4,q4ans,q5,...,q36,q36ans,q37,q37ans,q38,q38ans,q39,q39ans,q40,q40ans
0,2,2,2,2,2,1,0,2,1,2,...,2,2,2,2,1,0,2,1,1,0
1,7,1,0,2,1,1,0,1,0,1,...,2,2,2,1,2,2,2,1,2,2
2,8,2,2,2,2,2,2,2,1,2,...,2,2,2,1,2,2,2,2,2,2
3,9,2,2,1,0,2,2,2,2,2,...,2,1,1,0,2,2,2,2,1,0
4,10,2,1,2,1,1,0,2,1,2,...,2,1,2,1,2,1,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,134,2,1,1,0,2,1,2,1,1,...,1,0,2,2,1,0,2,1,1,0
77,138,1,0,2,1,1,0,2,1,1,...,1,0,1,0,1,0,1,0,1,0
78,140,2,1,1,0,2,2,2,2,1,...,1,0,1,0,1,0,2,2,1,0
79,141,1,0,2,1,1,0,2,1,1,...,2,1,1,0,1,0,1,0,1,0
80,143,2,2,1,0,2,2,2,2,1,...,1,0,2,2,2,2,1,0,1,0

In [ ]:
"""df1 = df.drop(['q1ans', 'q2ans','q3ans', 'q4ans', 'q5ans', 'q6ans',
         'q7ans','q8ans', 'q9ans', 'q10ans', 'q11ans', 'q12ans', 'q13ans','q14ans',
         'q15ans','q16ans', 'q17ans','q18ans','q19ans','q20ans','q21ans','q22ans',
         'q23ans', 'q24ans','q25ans', 'q26ans','q27ans', 'q28ans','q29ans','q30ans','q31ans',
         'q32ans','q33ans', 'q34ans','q35ans','q36ans','q37ans','q38ans','q39ans','q40ans'], axis=1, inplace=True)

df1 = df.to_csv("study1_trails.csv", index= False)

In [24]:
df2 = df.drop(['q1', 'q2', 'q3', 'q4',
       'q5','q6','q7', 'q8', 'q9', 
       'q10', 'q11', 'q12', 'q13', 
       'q14', 'q16', 'q17',  
       'q18', 'q19', 'q20', 'q21', 
       'q22', 'q23', 'q24', 'q25', 
       'q26', 'q27', 'q28', 'q29', 
       'q30', 'q31', 'q32', 'q33', 
       'q34', 'q35', 'q36', 'q37', 
       'q38', 'q39', 'q40' ], axis=1, inplace=True)

df2 = df.to_csv('study1_answers.csv', index= False)

In [25]:
df1 = pd.read_csv("./study1_trails.csv")
df2 = pd.read_csv("./study1_answers.csv")

In [28]:
df_trials_long = df1.melt(
    id_vars='PID',
    var_name='trial',
    value_name='choice'
)

df_trials_long

      PID trial  choice
0       2    q1       2
1       7    q1       1
2       8    q1       2
3       9    q1       2
4      10    q1       2
...   ...   ...     ...
3235  134   q40       1
3236  138   q40       1
3237  140   q40       1
3238  141   q40       1
3239  143   q40       1

[3240 rows x 3 columns]

In [29]:
df_answers_long = df2.melt(
    id_vars='PID',
    var_name='trial',
    value_name='answer'
)

df_answers_long

      PID   trial  answer
0       2   q1ans       2
1       7   q1ans       0
2       8   q1ans       2
3       9   q1ans       2
4      10   q1ans       1
...   ...     ...     ...
3316  134  q40ans       0
3317  138  q40ans       0
3318  140  q40ans       0
3319  141  q40ans       0
3320  143  q40ans       0

[3321 rows x 3 columns]

In [33]:
df_answers_long['answer'].unique()

array([2, 0, 1])

In [35]:
df_trials_long['choice'].unique()

array([2, 1])

In [36]:
df_answers_long['trial'] = df_answers_long['trial'].str.replace('ans', '', regex=False)

In [37]:
df_merge = pd.merge(df_trials_long, df_answers_long, on =['PID', 'trial'], how='inner')

df_merge

      PID trial  choice  answer
0       2    q1       2       2
1       7    q1       1       0
2       8    q1       2       2
3       9    q1       2       2
4      10    q1       2       1
...   ...   ...     ...     ...
3316  134   q40       1       0
3317  138   q40       1       0
3318  140   q40       1       0
3319  141   q40       1       0
3320  143   q40       1       0

[3321 rows x 4 columns]